# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
.venv/
env/

# Ignore dataset directory
chest-dataset-enhanced/
chest-dataset/
# Ignore model weights
*.pth
*.pt

# Ignore logs or temporary files
*.log
.DS_Store
*.tmp
